In [41]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [42]:
df=pd.read_csv('F:\ML_project\Training Data.csv')

In [43]:
df.head()

,clientid_cr,clmbuserid_cr,conversiontime_cr,imprid_cr,adslotdimid_cr,algo_cr,audiences_cr,clickbid_cr,geodimid_cr,ip_cr,...,cityGrpDimId_cr,siteClusterIds_cr,refClusterId_cr,paid_cr,spend_cr,attributionType_cr,conversionid_cr,optimize_on_cr,bundleId_cr,conversion_fraud
0,75694,31629cd0-0b34-460f-aa61-80c3234e1225-1sjfw,1.620000e+12,01649076-c77f-4d70-afc8-213535427147-1sjd4,321300,38.0,"8gw,o3b",2.869316,144,XXX.XXX.XXX.XXX,...,348007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,75694,4c98f114-c34c-48f4-84d6-50fc8e9b6d65-10wgg,1.620000e+12,f84d83b9-b757-4f97-9813-34f8dcc57cc5-1sjfw,129239,38.0,"8kv,2vk,8gw,2vl",2.790000,144,XXX.XXX.XXX.XXX,...,348010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,75694,cd92087a-54b0-4911-bc3d-1144a3c2babd-1sjlg,1.620000e+12,061edef6-3d9d-408b-884a-ad840e6930ce-10o78,321554,21.0,"8gw,o3b",2.790000,144,XXX.XXX.XXX.XXX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,75694,f79f3de7-5edb-4319-9549-117f47996066-10wrk,1.620000e+12,0a937239-9091-4bb7-b26b-37d4bb29e50b-10oa0,321300,38.0,"8gw,o3b",2.790000,144,XXX.XXX.XXX.XXX,...,348007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,30431,01fd1a8a-c3f8-4b57-94ff-66318d0f63c7-1sjts,1.620000e+12,0d46d0d4-8fc6-4d95-aaa1-406354a8400c-1sjo8,355768,21.0,NaN,NaN,144,XXX.XXX.XXX.XXX,...,NaN,NaN,NaN,1.0,275.0,1.0,NaN,NaN,NaN,True

In [44]:
df.shape

(965, 56)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 965 entries, 0 to 964
Data columns (total 56 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   clientid_cr                    965 non-null    int64
 1   clmbuserid_cr                  965 non-null    object
 2   conversiontime_cr              965 non-null    float64
 3   imprid_cr                      965 non-null    object
 4   adslotdimid_cr                 965 non-null    int64
 5   algo_cr                        945 non-null    float64
 6   audiences_cr                   766 non-null    object
 7   clickbid_cr                    669 non-null    float64
 8   geodimid_cr                    965 non-null    int64
 9   ip_cr                          945 non-null    object
 10  itemcolumbiaid_cr              965 non-null    int64
 11  itemid_cr                      965 non-null    int64
 12  position_cr                    945 non-null    float64
 13  pubclientid_cr                 965 non-null    int64
 14  refurl_cr                      840 non-null    object
 15  siteId_cr                      965 non-null    int64
 16  templateid_cr                  858 non-null    float64
 17  goalid_cr                      965 non-null    int64
 18  time_cr                        965 non-null    float64
 19  adLogType_cr                   965 non-null    int64
 20  v_cr                           964 non-null    float64
 21  allAudiences_cr                918 non-null    object
 22  pricingtype_cr                 965 non-null    int64
 23  osId_cr                        944 non-null    float64
 24  browserId_cr                   944 non-null    float64
 25  cityId_cr                      945 non-null    float64
 26  stateId_cr                     945 non-null    float64
 27  modelDimId_cr                  944 non-null    float64
 28  lookUpFrom_cr                  965 non-null    int64
 29  connTypeDimId_cr               945 non-null    object
 30  ispDimId_cr                    945 non-null    float64
 31  countryDimId_cr                945 non-null    float64
 32  goalTypeId_cr                  965 non-null    int64
 33  conversionDurationInMillis_cr  945 non-null    float64
 34  impressionTimeInMillis_cr      945 non-null    float64
 35  clickTimeInMillis_cr           833 non-null    float64
 36  osVerDimId_cr                  944 non-null    float64
 37  uuidSource_cr                  945 non-null    float64
 38  geoGrpDimId_cr                 945 non-null    float64
 39  stateGrpDimId_cr               860 non-null    float64
 40  deviceId_cr                    111 non-null    float64
 41  uvh_cr                         0 non-null      float64
 42  uv_cr                          29 non-null     float64
 43  platformId_cr                  112 non-null    float64
 44  sdkVersion_cr                  7 non-null      object
 45  usrClusterId_cr                354 non-null    object
 46  cityGrpDimId_cr                621 non-null    float64
 47  siteClusterIds_cr              412 non-null    object
 48  refClusterId_cr                66 non-null     float64
 49  paid_cr                        194 non-null    float64
 50  spend_cr                       194 non-null    float64
 51  attributionType_cr             194 non-null    float64
 52  conversionid_cr                24 non-null     object
 53  optimize_on_cr                 40 non-null     object
 54  bundleId_cr                    5 non-null      float64
 55  conversion_fraud               965 non-null    bool
dtypes: bool(1), float64(31), int64(12), object(12)
memory usage: 415.7+ KB

In [46]:
print(df.columns)

Index(['clientid_cr', 'clmbuserid_cr', 'conversiontime_cr', 'imprid_cr',
       'adslotdimid_cr', 'algo_cr', 'audiences_cr', 'clickbid_cr',
       'geodimid_cr', 'ip_cr', 'itemcolumbiaid_cr', 'itemid_cr', 'position_cr',
       'pubclientid_cr', 'refurl_cr', 'siteId_cr', 'templateid_cr',
       'goalid_cr', 'time_cr', 'adLogType_cr', 'v_cr', 'allAudiences_cr',
       'pricingtype_cr', 'osId_cr', 'browserId_cr', 'cityId_cr', 'stateId_cr',
       'modelDimId_cr', 'lookUpFrom_cr', 'connTypeDimId_cr', 'ispDimId_cr',
       'countryDimId_cr', 'goalTypeId_cr', 'conversionDurationInMillis_cr',
       'impressionTimeInMillis_cr', 'clickTimeInMillis_cr', 'osVerDimId_cr',
       'uuidSource_cr', 'geoGrpDimId_cr', 'stateGrpDimId_cr', 'deviceId_cr',
       'uvh_cr', 'uv_cr', 'platformId_cr', 'sdkVersion_cr', 'usrClusterId_cr',
       'cityGrpDimId_cr', 'siteClusterIds_cr', 'refClusterId_cr', 'paid_cr',
       'spend_cr', 'attributionType_cr', 'conversionid_cr', 'optimize_on_cr',
       'bundleId_cr', 'conversion_fraud'],
      dtype='object')

In [47]:
columns=['clientid_cr','pubclientid_cr','siteId_cr','goalid_cr','countryDimId_cr','browserId_cr','cityId_cr', 'stateId_cr','adslotdimid_cr','itemcolumbiaid_cr','ispDimId_cr','deviceId_cr','osVerDimId_cr','time_cr','conversion_fraud']

In [48]:
df_new = df[columns]
df_new

,clientid_cr,pubclientid_cr,siteId_cr,goalid_cr,countryDimId_cr,browserId_cr,cityId_cr,stateId_cr,adslotdimid_cr,itemcolumbiaid_cr,ispDimId_cr,deviceId_cr,osVerDimId_cr,time_cr,conversion_fraud
0,75694,2320,34,6384,144.0,129639.0,436.0,1806.0,321300,5488088,280429.0,NaN,199452.0,1.620000e+12,True
1,75694,15240,178,6384,144.0,129639.0,10314.0,1817.0,129239,5488773,136127.0,NaN,199452.0,1.620000e+12,True
2,75694,2320,34,6384,144.0,129639.0,0.0,1812.0,321554,5488088,172725.0,NaN,199452.0,1.620000e+12,True
3,75694,2320,34,6384,144.0,129639.0,10300.0,1815.0,321300,5488088,136127.0,NaN,199452.0,1.620000e+12,True
4,30431,1,3296,3370,144.0,129408.0,0.0,1818.0,355768,5614054,136127.0,NaN,360833.0,1.620000e+12,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,2139,16153,1043,722,144.0,129433.0,10255.0,1804.0,321114,5610343,0.0,NaN,360956.0,1.620000e+12,False
961,70491,76969,2923,4902,144.0,129433.0,10257.0,1805.0,334758,5584022,280429.0,NaN,359919.0,1.620000e+12,False
962,85572,15336,379,10346,144.0,129639.0,0.0,1799.0,348089,5599296,136127.0,NaN,199522.0,1.620000e+12,False
963,75694,85030,3290,6384,144.0,129639.0,34725.0,1807.0,356952,5488773,0.0,NaN,199414.0,1.620000e+12,False
964,75694,85030,3290,6384,144.0,129639.0,439.0,1815.0,356952,5488088,136127.0,NaN,199452.0,1.620000e+12,False

In [49]:
X = df_new.drop(columns=["conversion_fraud"])
y = df_new["conversion_fraud"]

In [50]:
X.isnull().sum()/df.shape[0]*100

clientid_cr           0.000000
pubclientid_cr        0.000000
siteId_cr             0.000000
goalid_cr             0.000000
countryDimId_cr       2.072539
browserId_cr          2.176166
cityId_cr             2.072539
stateId_cr            2.072539
adslotdimid_cr        0.000000
itemcolumbiaid_cr     0.000000
ispDimId_cr           2.072539
deviceId_cr          88.497409
osVerDimId_cr         2.176166
time_cr               0.000000
dtype: float64

In [51]:
df_new.isnull().sum()

clientid_cr            0
pubclientid_cr         0
siteId_cr              0
goalid_cr              0
countryDimId_cr       20
browserId_cr          21
cityId_cr             20
stateId_cr            20
adslotdimid_cr         0
itemcolumbiaid_cr      0
ispDimId_cr           20
deviceId_cr          854
osVerDimId_cr         21
time_cr                0
conversion_fraud       0
dtype: int64

In [52]:
df_num = X.select_dtypes(include=["int64","float64"])
print("Columns present in our numerical Data Part\n\n",df_num.keys())
print("Number of null values present un our Numerial data",df_num.isnull().sum().sum())
num_nn = [var for var in df_num.columns if df_num[var].isnull().sum()>0]
print("Numerical data having null values\n\n",num_nn)

Columns present in our numerical Data Part

 Index(['clientid_cr', 'pubclientid_cr', 'siteId_cr', 'goalid_cr',
       'countryDimId_cr', 'browserId_cr', 'cityId_cr', 'stateId_cr',
       'adslotdimid_cr', 'itemcolumbiaid_cr', 'ispDimId_cr', 'deviceId_cr',
       'osVerDimId_cr', 'time_cr'],
      dtype='object')
Number of null values present un our Numerial data 976
Numerical data having null values

 ['countryDimId_cr', 'browserId_cr', 'cityId_cr', 'stateId_cr', 'ispDimId_cr', 'deviceId_cr', 'osVerDimId_cr']

In [53]:
df_char = X.select_dtypes(include=["object"])
print("Number of null values present un our character data",df_char.isnull().sum().sum())
char_nn = [var for var in df_char.columns if df_char[var].isnull().sum()>0]
print("Character data having null values\n\n",char_nn)

Number of null values present un our character data 0.0
Character data having null values

 []

In [54]:
X.fillna(df.mean(),inplace=True)

In [55]:
print("Total null values in our dataset -->",X.isnull().sum().sum())
df_new.isnull().sum()/df.shape[0]*100

Total null values in our dataset --> 0

clientid_cr           0.000000
pubclientid_cr        0.000000
siteId_cr             0.000000
goalid_cr             0.000000
countryDimId_cr       2.072539
browserId_cr          2.176166
cityId_cr             2.072539
stateId_cr            2.072539
adslotdimid_cr        0.000000
itemcolumbiaid_cr     0.000000
ispDimId_cr           2.072539
deviceId_cr          88.497409
osVerDimId_cr         2.176166
time_cr               0.000000
conversion_fraud      0.000000
dtype: float64

In [56]:
X_train,X_test, Y_train,Y_test = train_test_split(X,y,test_size=.2)

In [57]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train= st_x.fit_transform(X_train)    
x_test= st_x.transform(X_test)

In [58]:
#from sklearn.linear_model import LinearRegression
#lr=LinearRegression()
#lr.fit(X_train,Y_train)
#lr.predict(X_test)



from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(X_train, Y_train) 

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,  
                   intercept_scaling=1, l1_ratio=None, max_iter=100,  
                   multi_class='warn', n_jobs=None, penalty='l2',  
                   random_state=0, solver='warn', tol=0.0001, verbose=0,  
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [59]:
y_pred= classifier.predict(x_test)
y_pred

array([ True, False, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True, False,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False, False, False,  True, False, False,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True, False,  True,  True,  True, False, False,  True, False,
        True, False,  True, False, False, False, False,  True, False,
       False,  True,  True,  True, False, False,  True,  True,  True,
       False,  True, False, False,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True, False, False,  True,  True,  True, False, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
       False,  True, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True])

In [60]:
classifier.score(X_test,Y_test)*100

86.01036269430051